html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
.container {
    width: 49vmin;
    height: 75vmin;
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.grid-container {
    display: grid;
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 10vmin 10vmin;
    row-gap: 3vmin;
    column-gap: 3vmin;
}
.pow {
    padding-bottom: 1vmin;
}
input {
    margin-bottom: 3vmin;
    width: 100%;
    height: 10vmin;
    box-shadow: 0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.25);
    border-radius: 0.8vmin;
    font-size: 5vmin;
    border: none;
    outline: none;
    padding: 3vmin 1.5vmin 0;
    font-family: 'Barlow', sans-serif;
}
.btn {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 5vmin;
    box-shadow: 0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.25);
    border-radius: 0.8vmin;
    border: none;
    outline: none;
    user-select: none;
    font-family: 'Barlow', sans-serif;
}
.btn:active {
    box-shadow: inset 0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.25);
    padding-top: 0.5vmin;
}
.color-schemes ul {
    position: absolute;
    right: 0;
    padding-top: 4vmin;
    padding-right: 3vmin;
    user-select: none;
}
.color-schemes ul li{
    display: inline-block;
}
.color {
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
}
.color + .color {
    margin-left: 1vmin;
}
.color-active {
    border: #1dd1a1 solid 0.2vmin;
}
.dark {
    background-color: #466079;
}
.light {
    background-color: #fdfdfd;
}
.orange {
    background-color: #e67e22;
}
.emerald {
    background-color: #2ecc71;
}
.blue {
    background-color: #3498db;
}
.purple {
     background-color: #9b59b6;
 }


/*COLOR SCHEMES*/
    /*Dark*/
.btn[data-color-scheme="dark"] {
    background-color: #466079;
    color: #212E3C;
}
.btn[data-color-scheme="dark"]:hover {
    background-color: #526F8B;
}
.btn[data-color-scheme="dark"]:active {
    background-color: #293A4A;
    color: #1B2733
}
body[data-color-scheme="dark"] {
    background-color: #2C3E50;
}
    /*Light*/
.btn[data-color-scheme="light"] {
    background-color: #fdfdfd;
    color: #bdc3c7;
}
.btn[data-color-scheme="light"]:hover {
    background-color: #ffffff;
}
.btn[data-color-scheme="light"]:active {
    background-color: #dedede;
    color: #c3c3c3
}
body[data-color-scheme="light"] {
    background-color: #f1f2f6;
}
    /*emerald*/
.btn[data-color-scheme="emerald"] {
    background-color: #2ecc71;
    color: #1e8449 ;
}
.btn[data-color-scheme="emerald"]:hover {
    background-color: #33d678;
}
.btn[data-color-scheme="emerald"]:active {
    background-color: #229854;
    color: #166336
}
body[data-color-scheme="emerald"] {
    background-color: #27ae60;
}
    /*orange*/
.btn[data-color-scheme="orange"] {
    background-color: #e67e22;
    color: #a14000 ;
}
.btn[data-color-scheme="orange"]:hover {
    background-color: #f58a2b;
}
.btn[data-color-scheme="orange"]:active {
    background-color: #b34700;
    color: #7d3200
}
body[data-color-scheme="orange"] {
    background-color: #d35400;
}
    /*blue*/
.btn[data-color-scheme="blue"] {
    background-color: #3498db;
    color: #1f618d ;
}
.btn[data-color-scheme="blue"]:hover {
    background-color: #3fa4e8;
}
.btn[data-color-scheme="blue"]:active {
    background-color: #226fa2;
    color: #154b6f
}
body[data-color-scheme="blue"] {
    background-color: #2980b9;
}
    /*purple*/
.btn[data-color-scheme="purple"] {
    background-color: #9b59b6;
    color: #6c3484 ;
}
.btn[data-color-scheme="purple"]:hover {
    background-color: #aa63c7;
}
.btn[data-color-scheme="purple"]:active {
    background-color: #793d92;
    color: #5a286f
}
body[data-color-scheme="purple"] {
    background-color: #8e44ad;
}